{
  "Profiles": [
{% for key, value in iterm_instances.items() %}
    {
       "Name": "{{ value['name'] }}",
       "Guid": "{{ value['guid'] }}",
       "Custom Command" : "Yes",
       "Command" : "ssh -Y {{ ssh_user }}@{{ value['private_ip_address'] }}",
       "Tags" : [
            "{{ key }}",
            "{{ region }}",
            "{{ profile }}"
         ],
       "Dynamic Profile Parent Name": "aws_{{ value['environment']}}"
    },
{% endfor %}
  ]
}
